/celerybeat-schedule.bak
/celerybeat-schedule.dat
/celerybeat-schedule.dir
/django.bak
/django.dat
/django.dir
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/DRFCourse-master.iml
/.idea/misc.xml
/.idea/modules.xml
.coverage
